pankkitili_tehtava/build/
pankkitili_tehtava/*.user

tehtava1/build/
tehtava1/*.user

viikkotehtava2/build/
viikkotehtava2/*.user

Viikko3/build/
viikko3/*.user

Viikko4/build/
Viikko4/*.user

Viikko5/build/
Viikko5/*.user