Viikko1/build/
Viikko1/*.user

Viikko2/build/
viikko2/*.user

Viikko3/build/
viikko3/*.user

Viikko4/build/
Viikko4/*.user

Viikko5/build/
Viikko5/*.user

Viikko6/build/
Viikko6/*.user

Viikko7/build/
Viikko7/*.user

Viikko8/build/
Viikko8/*.user